* {
	box-sizing:border-box;
}

body {
	background:url(../images/symphony.png);
	font-size:18px;
	line-height:34px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777;
}

.container {
	width:100%;
	max-width:960px;
	margin:0 auto;
	clear:both;
}

h1, h2, h3, p {
	margin-bottom:20px;
}

p:last-child {
	margin-bottom:0;
}

h1, h2, h3 {
	font-family:'Georgia', Times, 'Times New Roman', serif;
	font-weight:700;
	color:#4aaaa5;
}

h1 {
	font-size:30px;
	line-height:49px;
	border-bottom:3px solid #dddddd;
	padding-bottom:20px;
}

h2, h3 {
	font-size:22px;
}
#masthead {
	background:#ffffff;
	margin:0 0 30px;
	z-index:99;
	color:#ffffff;
	overflow:auto;
	border-bottom:2px solid #ccc;
	position:fixed;
	width:100%;
}

#logo {
	width:250px;
	height:90px;
	background:#4aaaa5;
	float:left;
	font-family:'Georgia', 'Times New Roman', Times;
	text-align:center;
	line-height:90px;
	color:#ffffff;
	font-weight:700;
	font-size:30px;
	text-decoration:none;
}

nav {
	float:right;
	margin-top:25px;
}

nav a {
	color:#999;
	text-decoration:none;
	margin-left:15px;
	display:inline-block;
	border-left:1px solid #efefef;
	padding-left:15px;
	line-height:18px;
}

nav a:first-child {
	border-left:0 none;
}

#main-container {
	padding-top:130px;
}

.main-container {
	background:#ffffff;
	padding:30px;
	margin:0 0 40px 0;
	width:100%;
	max-width:650px;
	float:left;
	border:1px solid #dddddd;
}

.pictures {
	width:200px;
	height:auto;
	margin-top:10px;
	float:left;
	margin-right:25px;
}

.sidebar {
	background:#ffffff;
	padding:30px;
	width:100%;
	max-width:270px;
	float:right;
	border:1px solid #dddddd;
	margin-bottom:20px;
}

h3, .sidebar, h2 {
	border-bottom:2px solid #eee;
	padding-bottom:20px;
	margin-bottom:15px;
	line-height:22px;
}

.icons {
	width:60px;
	height:60px;
	margin-top:8px;
	margin-right:5px;
}

.icons:last-child {
	margin-right:0;
}

footer {
	background:#666;
	color:#ffffff;
	padding:30px 0;
	clear:both;
	border-top:8px solid #4aaaa5;
	color:#ccc;
	font-size:12px;
	text-align:center;
}

.projects {
	width:274px;
	overflow:auto;
	position:relative;
	float:left;
	margin:20px 0 25px;
}

.projects:nth-child(even) {
	margin-right:40px;
}

.projects img {
	width:100%;
	border:0 none;
	opacity: .8;
}

.projects h3 {
	border-bottom:0;
	background:#4aaaa5;
	color:#fff;
	text-align:center;
	position:absolute;
	bottom:20px;
	padding:15px;
	width:100%;
	line-height:30px;
	margin-bottom:0;
	font-weight:300;
}

#contact-form ul {
	margin-bottom:20px;
}

#contain-form li {
	margin-bottom:10px;
}

label,
input[type=text],
input[type=email],
textarea {
	display:block;
	width:100%;
}

input[type=text],
input[type=email],
textarea {
	height:35px;
	border:1px solid #ddd;
	padding:0 10px;
	font-size:14px;
}

textarea {
	height:200px;
}

button {
	background:#4aaaa5;
	border:0 none;
	color:#fff;
	font-size:18px;
	padding:10px 30px;
	cursor:pointer;

}

@media screen and (max-width:980px) {

.main-container {
	max-width:530px;
	width:100%;
	margin-left:0;
}

#logo {
	margin-left:50px;
}

.sidebar {
	margin-right:50px;
}

nav {
	margin-right:50px;
}

.projects {
	max-width:530px;
	width:100%;
}

}

@media screen and (max-width:768px) {
	
.main-container {
	margin-top:5px;
	max-width:768px;
	width:100%;
	margin-left:0;

}

#logo {
	margin-left:10px;
}

nav {
	margin-right:10px;
}

.sidebar {
	float:left;
	width:100%;
	max-width:760px;
}

}

@media screen and (max-width:640px) {

#masthead {
	position:static;
}

#logo, nav {
	width:100%;
}

nav {
	text-align:center;
}

nav a {
	padding-left:50px;
	padding-right:50px;
}

.main-container {
	margin-top:-140px;
	margin-left:0;
}

.sidebar {
	float:left;
	width:100%;
	max-width:630px;
}

.pictures {
	max-width:630px;
	width:100%;
}

.projects {
	max-width:630px;
	width:100%;
}

}


/*html {
	position:relative;
	min-height:100%;
}

body {
	background:url(../images/symphony.png);
	margin:0 0 85px 0;
}

#header {
	height:100px;
	width:100%;
	max-width:1500px;
	background-color:white;
	border-bottom:2px solid #cccccc;
	position:absolute;
	left:0;
	top:0;
	right:0;
}

#myName {
	color:#ffffff;
	font-family:'Georgia', Times, 'Times New Roman';
	background-color:#4aaaa5;
	position:relative;
	left:200px;
	top:0px;
	width:300px;
	height:50px;
	text-align:center;
	padding:10px 10px 20px 10px;
}

.nav {
	float:right;
	padding:0px 0px 0px 0px;
	font-family:'Arial', 'Helvetica Neue';
	position:relative;
	right:360px;
	top:-70px;
	list-style-type:inline-block;
}

.nav-portfolio {
	float:right;
	padding:0px 0px 0px 0px;
	font-family:'Arial', 'Helvetica Neue';
	position:relative;
	right:343px;
	top:-70px;
	list-style-type:inline-block;
}

a {
	text-decoration:none;
	color:#777777;
}

.main-content {
	background-color:white;
	border:1px solid #dddddd;
	width:630px;
	height:490px;
	float:left;
	position:absolute;
	left:200px;
	top:150px;
	padding-left:10px;
	padding-right:10px;
}

.main-content-contact {
	background-color:white;
	border:1px solid #dddddd;
	width:610px;
	height:550px;
	float:left;
	position:absolute;
	left:200px;
	top:150px;
	padding-left:30px;
	padding-right:10px;
}

.clearfix {
	overflow:auto;
}

.main-content-portfolio {
	background-color:white;
	border:1px solid #dddddd;
	width:630px;
	height:800px;
	float:left;
	position:absolute;
	left:200px;
	top:150px;
	padding-left:10px;
	padding-right:10px;
}

.projects {
	float:left;
	height:170px;
	width:220px;
	padding:10px 30px 10px 30px;
}

#hangman {
	background-color:#4aaaa5;
	color:#ffffff;
	position:absolute;
	left:40px;
	top:230px;
	width:200px;
	text-align:center;
	padding:10px 10px 10px 10px;
	font-family:'Georgia', Times, 'Times New Roman';
	font-size:20px;
}
#rpgGame {
	background-color:#4aaaa5;
	color:#ffffff;
	position:absolute;
	left:320px;
	top:230px;
	width:200px;
	text-align:center;
	padding:10px 10px 10px 10px;
	font-family:'Georgia', Times, 'Times New Roman';
	font-size:20px;
}

#triviaGame {
	background-color:#4aaaa5;
	color:#ffffff;
	position:absolute;
	left:40px;
	top:420px;
	width:200px;
	text-align:center;
	padding:10px 10px 10px 10px;
	font-family:'Georgia', Times, 'Times New Roman';
	font-size:20px;
}

#basketball {
	background-color:#4aaaa5;
	color:#ffffff;
	position:absolute;
	left:40px;
	top:580px;
	width:200px;
	text-align:center;
	padding:10px 10px 10px 10px;
	font-family:'Georgia', Times, 'Times New Roman';
	font-size:20px;
}

#rockPaper {
	background-color:#4aaaa5;
	color:#ffffff;
	position:absolute;
	left:320px;
	top:420px;
	width:200px;
	text-align:center;
	padding:10px 10px 10px 10px;
	font-family:'Georgia', Times, 'Times New Roman';
	font-size:20px;
}

#contactHeader {
	color:#4aaaa5;
	font-family:'Georgia', Times, 'Times New Roman';
	padding-left:30px;
}

#aboutMe {
	color:#4aaaa5;
	font-family:'Georgia', Times, 'Times New Roman';
	padding-left:30px;
}

#picture {
	float:left;
	padding:10px 10px 10px 10px;
	height:200px;
	width:150px;
}

#portfolioHeading {
	color:#4aaaa5;
	font-family:'Georgia', Times, 'Times New Roman';
	padding-left:30px;
}

.bio {
	font-family:'Arial', 'Helvetica Neue';
	color:#777777;
	padding-left:20px;
	line-height:2;
}

.response {
	font-family:'Arial', 'Helvetica Neue';
	color:#777777;
	clear:both;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

textarea {
	width:550px;
	height:16px;
	font-family:'Arial', 'Helvetica Neue';
	padding:5px;
	margin:0px;
}

#messageBox {
	width:550px;
	height:150px;
}

#submit {
	background-color:#4aaaa5;
	color:#ffffff;
	border:none;
	font-size:16px;
	margin:0px 0px 0px 0px
	padding:20px 20px 20px 20px;
	height:30px;
	width:100px;
	cursor:pointer;
	cursor:hand;
}

.connectBox1 {
	float:right;
	width:270px;
	height:200px;
	background-color:#ffffff;
	border:1px solid #dddddd;
	margin:30px 30px 30px 30px;
	position:absolute;
	right:310px;
	top:120px;
}

.connectBox2 {
	float:right;
	width:270px;
	height:200px;
	background-color:#ffffff;
	border:1px solid #dddddd;
	margin:30px 30px 30px 30px;
	position:absolute;
	right:310px;
	top:120px;
}

.connectBox3 {
	float:right;
	width:270px;
	height:200px;
	background-color:#ffffff;
	border:1px solid #dddddd;
	margin:30px 30px 30px 30px;
	position:absolute;
	right:293px;
	top:120px;
}

#connectWithMe {
	color:#4aaaa5;
	text-align:center;
	padding-bottom:0px;
	font-family:'Georgia', Times, 'Times New Roman';
}

hr {
	border:0 none;
	background-color:lightgray;
	height:3px;
	width:80%;
}

#line1 {
	border:0 none;
	background-color:lightgray;
	height:3px;
	width:90%;
}

.icons {
	height:60px;
	width:60px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
}

#site-footer {
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	height:85px;
	padding-top:30px;
	background-color:#666666;
	text-align:center;
	border-top:10px #4aaaa5 solid;
	font-family:Arial, 'Helvetica Neue';
	color:#D6D6D6;
	width:100%;
}

@media only screen and (max-width:980px) {
	#myName, .nav {
		width:50%;
		margin-left:50px;
	}
}

@media only screen and (max-width:768px) {

}

@media screen and (max-width:640px) {
	
	#header {
		height:130px;
		width:100%;
	}

	#myName {
		position:static;
		font-weight:bold;
		width:100%;
		float:left;
		font-size:40px;
		margin-top:0;
		margin-left:0;
	}

	.port {
		float:left;
		position:absolute;
		top:90px;
		left:450px;
	}

	.cont {
		float:left;
		position:absolute;
		top:90px;
		left:280px;
	}

	.about {
		float:left;
		position:absolute;
		top:90px;
		left:100px;	
	}

	.main-content {
		position:static;
		width:630px;
		margin-top:150px;
		height:1300px;
		margin-left:auto;
		margin-right:auto;
	}

	.main-content-contact {
		position:static;
		width:630px;
		margin-top:150px;
		margin-left:auto;
		margin-right:auto;
	}

	#picture {
		width:600px;
		height:auto;
		margin:auto;
	}

	.connectBox1 {
		width:630px;
		float:left;
		clear:both;
		position:absolute;
		top:1400px;
		left:0;
		margin-left:auto;
		margin-right:auto;
	}

	.connectBox2 {
		width:630px;
		float:left;
		clear:both;
		position:absolute;
		top:700px;
		left:0;
		margin-left:auto;
		margin-right:auto;
	}

	.connectBox3 {
		width:630px;
		float:left;
		clear:both;
		position:absolute;
		top:950px;
		left:0;
		margin-left:auto;
		margin-right:auto;
	}

<TABLE BORDER="0" cellpadding="0" CELLSPACING="0">
<TR>

<TD WIDTH="221" HEIGHT="300" BACKGROUND="newjoe01.jpg" VALIGN="bottom">

<FONT SIZE="+1" COLOR="yellow">Joe Burns at Work</FONT></TD>

</TR>
</TABLE>

	.footer {
		width:100%;
		margin-top:1700px;
	}

	.projects {
		width:100%;
		height:auto;
		margin-left:0;
	}

	.main-content-portfolio {
		position:static;
		width:630px;
		margin-top:150px;
	}

	#hangman {
		width:630px;
		text-align:center;
		position:absolute;
		top:670px;

	}
}



